nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.text-primary {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    margin-right: 50px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-message {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #181818;
}

.btn-primary {
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 15px 35px;
    margin-top: 30px;
    padding: 19px 17px 18px 51px;
}

/*header related styles*/
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}

.banner-name {
    font-size: 85px;
    font-weight: 800px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.message {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400px;
    color: #757575;
}

#download {
    margin-right: 30px;
}

/*main section*/
main {
    max-width: 1140px;
    margin: 0px auto;
}

main>section {
    margin-top: 130px;
}


/*about*/
.about {
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0px;
}

.about-info-container {
    display: flex;
    justify-content: space-between;
}

.about-info {
    text-align: center;
}

.info-name {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
}

.info-title {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}

.section-description {
    padding: 30px 150px;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skills {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-des {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.item-subheading {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.item-des {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}